.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    margin: 30px 30px 30px 30px;
}
a {
    text-decoration: none;
}
.card-content-grey{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 80px 20px 80px;
}
.card-content-list{
    padding: 15px !important;
}

.form-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-list-item {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title-link {
    text-decoration: none;
}

.form-title-link:hover {
    text-decoration: underline;
}
.title-s{
    margin: 10px 0 10px 0;
}
.banner-buttons{
    display: flex;
    justify-content: right;
}
.btn-primary{
    margin-right: 15px;
}
.card-content-title{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}