
.form-header,
.form-header textarea,
.form-header input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addQuestionBtn,
#validateFormBtn {
    display: block;
    margin-top: 10px;
}


.question {
    background: #F3E5F5;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.option button {
    margin-bottom: 10px;
}

.option-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.question-type {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.options-container {
    margin-bottom: 10px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.option-input {
    flex-grow: 1;
}

.remove-option {
    background: #E53935;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.add-option,
.remove-question {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.remove-question {
    background: #D32F2F;
    color: white;
}

.remove-option:hover,
.remove-question:hover {
    background: #a32323;
}

.required::after {
    content: "*";
    color: red;
}

.input {
    background-color: white;
    border: 2px solid white;
    color: #a050ea;
}

.input:focus {
    background-color: white;
    border: 2px solid #a050ea;
    font-size: 16px;;
    color: #a050ea;
    outline: none;
   
}

.correct-answer {
    margin-bottom: 10px;
}

.submitButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}